<%- include('header'); %>
	<%- include('tram_data_searchbox'); %>

	<style>
		.table td {text-align: center;}
		.table th {text-align: center;}
		.table {font-size:0.8em;}
	</style>

	<script language = "javascript">
		//Date & Time Pickers
		$('.datepicker').pickadate({format: 'yyyy/mm/dd'});
		$("#date").val("<%= global.dateStr %>");
		//Submit
		function searchbox_submit(){
			if ($("#section").val() != "" && $("#date").val() != ""){
				//Valid
				var URL = "/trams/data_regression/" + $("#section").val() + "/" + $("#date").val();
				//Go to new URL
				window.location.href = URL;
			}
		}
	</script>

	<% if (typeof params !== "undefined"){ %>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6 col-lg-6">
						<button type="button" class="btn-block btn-default" onclick="btn_prev_day();">Prev Day (<%= date_prev %>)</button>
					</div>
					<div class="col-sm-6 col-lg-6">
						<button type="button" class="btn-block btn-default" onclick="btn_next_day();">Next Day (<%= date_next %>)</button>
					</div>
				</div>
			</div>
		</div>

		<h3><%= params.stopA %> - <%= params.stopB %> (<%= params.yy %>/<%= params.mm %>/<%= params.dd %>)</h2>
		<% if (result.length == 0){ %>
			<p>Sorry, there are no entries.</p>
		<% }else{ %>
			<div class="table-responsive">          
				<table class="table">
					<thead>
						<tr>
							<th colspan="7">Input Variables</th>
							<th rowspan="2">Actual</th>
							<th colspan="<%= mode_count %>">Predicted Time Spent (and Error)</th>
						</tr>
					</thead>
					<thead>
						<tr>
							<th>Weekday?</th>
							<th>P.H.?</th>
							<th>D.O.W.</th>
							<th>Starting</th>
							<th>(Normalized)</th>
							<th>Rainfall</th>
							<th>HKO Temp.</th>
							<th>HKO Hum.</th>
							<th>Time Spent</th>
							<% for (var mode in error_avg){ %>
								<th><%= mode %></th>
							<% } %>
						</tr>
					</thead>
					<% for (var i in result){ %>
						<tr>
							<td><%= result[i].wkday ? "Yes" : "No" %></td>
							<td><%= result[i].PH ? "Yes" : "No" %></td>
							<td><%= ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"][result[i].dayOfWk] %></td>
							<td><%= result[i].starting %></td>
							<td><%= result[i].starting_n %></td>
							<td><%= result[i].rainfall %> mm</td>
							<td><% if (typeof result[i].HKO_temp !== "undefined"){ %><%= result[i].HKO_temp %> ℃<% } %></td>
							<td><% if (typeof result[i].HKO_hum !== "undefined"){ %><%= result[i].HKO_hum %> %<% } %></td>
							<td><b><%= result[i].minsSpent %></b>′</td>
							<% for (var mode in error_avg){ %>
								<% if (result[i].prediction_2d[mode] == ""){ %>
								<td>N/A</td>
								<% }else{ %>
								<%
								var url = "/trams/prediction_section/" + params.stopA + "/" + params.stopB
								+ "?dayOfWk=" + result[i].dayOfWk
								+ "&PH=" + (result[i].PH ? "1" : "0")
								+ "&hours=" + result[i].hours
								+ "&rainfall=" + result[i].rainfall
								+ "&HKO_temp=" + (typeof result[i].HKO_temp !== "undefined" ? result[i].HKO_temp : "") 
								+ "&HKO_hum=" + (typeof result[i].HKO_hum !== "undefined" ? result[i].HKO_hum : "")
								+ "#" + mode;
								%>
								<td><a href = "<%= url %>">
									<%= result[i].prediction_2d[mode] %>′<br/>
									<small>(<%= result[i].prediction_error_2d[mode] %>')</small>
								</a></td>
								<% } %>
							<% } %>
						</tr>
					<% } %>
					<thead>
						<tr>
							<th colspan="9">Average Prediction Error: </th>
							<% for (var mode in error_avg){ %>
								<% if (error_avg[mode] == ""){ %>
								<th>N/A</th>
								<% }else{ %>
								<th><%= error_avg[mode] %>'</th>
								<% } %>
							<% } %>
						</tr>
						<tr>
						<th colspan="9">Worst Prediction Error: </th>
							<% for (var mode in error_worst){ %>
								<% if (error_worst[mode] == ""){ %>
								<th>N/A</th>
								<% }else{ %>
								<th><%= error_worst[mode] %>'</th>
								<% } %>
							<% } %>
							</tr>
						<tr>
							<th colspan="9"></th>
							<% for (var mode in error_avg){ %>
								<th><%= mode %></th>
							<% } %>
						</tr>
					</thead>
				</table>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6 col-lg-6">
							<button type="button" class="btn-block btn-default" onclick="btn_prev_day();">Prev Day (<%= date_prev %>)</button>
						</div>
						<div class="col-sm-6 col-lg-6">
							<button type="button" class="btn-block btn-default" onclick="btn_next_day();">Next Day (<%= date_next %>)</button>
						</div>
					</div>
				</div>
			</div>

		<% } %>

		<script language = "javascript">
				//Prefill data
				$("#date").val("<%= params.yy %>/<%= params.mm %>/<%= params.dd %>");
				//Next & Prev day button
				function btn_prev_day(){
					window.location.href = "/trams/data_regr/<%= params.stopA %>/<%= params.stopB %>/<%= date_prev %>";
				}
				function btn_next_day(){
					window.location.href = "/trams/data_regr/<%= params.stopA %>/<%= params.stopB %>/<%= date_next %>";
				}
		</script>

	<% } %>

<%- include('footer'); %>