<%
function q(variable, compare){
	if (typeof query != "undefined"){
		if (typeof query[variable] != "undefined"){
			return (query[variable] == compare) ? " selected" : "";
		}
	}
	if (typeof querybox != "undefined"){
		if (typeof querybox.def != "undefined"){
			if (typeof querybox.def[variable] != "undefined"){
				return (querybox.def[variable] == compare) ? " selected" : "";
			}
		}
	}
	return "";
}

function s(variable){
	if (typeof query != "undefined"){
		if (typeof query[variable] != "undefined"){
			return query[variable];
		}
	}
	if (typeof querybox != "undefined"){
		if (typeof querybox.def != "undefined"){
			if (typeof querybox.def[variable] != "undefined"){
				return querybox.def[variable];
			}
		}
	}
	return "";
}

function p(variable){
	if (typeof params != "undefined"){
		if (typeof params[variable] != "undefined"){
			return params[variable];
		}
	}
	return "";
}

%>

<script src = "/api/trams/prediction/from_to.js"></script>

<script language = "javascript">

	//From
	function options_from(){
		$('#from').children().remove().end();
		$("#from").append('<option value="">-- Please Select --</option>');
		for (var stop in from_to_list.name){
			if (from_to_list.via[stop] != null){
				var caption = from_to_list.name[stop] + " (" + stop + ")";
				$("#from").append('<option value="' + stop + '">' + caption + '</option>');
			}
		}
		$("#from").val(params.from);
	}

	//To
	function options_to(){
		$('#to').children().remove().end();
		var stopA = $("#from").val();
		if (from_to_list.via[stopA] != null){
			$("#to").append('<option value="">-- Please Select --</option>');
			for (var stopB in from_to_list.name){
				if (from_to_list.via[stopA][stopB] != null){
					var caption = from_to_list.name[stopB] + " (" + stopB + ")";
					$("#to").append('<option value="' + stopB + '">' + caption + '</option>');
				}
			}
		}
		$("#to").val(params.to);
	}

	//Multi
	function options_multi(){
		$('#multi').children().remove().end();
		var stopA = $("#from").val();
		var stopB = $("#to").val();
		if (from_to_list.via[stopA] != null){
			if (from_to_list.via[stopA][stopB] != null){
				var nn0 = (from_to_list.via[stopA][stopB][0] != null);
				var nn1 = (from_to_list.via[stopA][stopB][1] != null);
				if (nn0 && nn1){
					$("#multi").append('<option value="">-- Please Select --</option>');
				}
				if (nn0){
					$("#multi").append('<option value="0">By one single prediction section</option>');
				}
				if (nn1){
					$("#multi").append('<option value="1">By multiple prediction sections</option>');
				}
			}
		}
		$("#multi").val(params.multi);
	}

	//On Load
	var params = {};
	params.from = "<%= p('from') %>";
	params.to = "<%= p('to') %>";
	params.multi = "<%= p('multi') %>";

	$(function() {
		options_from();
		options_to();
		options_multi();
	});

	//Submit
	function querybox_submit(){
		//Check if any inputs are missing
		if ($("#from").val() != "" && $("#to").val() != "" && $("#multi").val() != ""){
			//Translate hours
			var hours = $("#hours").val().split(":");
			if (hours.length == 1){
				hours = (hours[0]-0);
			}else if (hours.length == 2){
				hours = (hours[0]-0) + (hours[1]-0) / 60;
			}else{
				hours = (hours[0]-0) + (hours[1]-0) / 60 + (hours[2]-0) / 3600;
			}
			if (isNaN(hours)){
				hours = "";
			}
			//Valid
			var URL = "/trams/prediction"
			+ "/" + $("#from").val()
			+ "/" + $("#to").val()
			+ "/" + $("#multi").val()
			+ "?dayOfWk=" + $("#dayOfWk").val()
			+ "&PH=" + $("#PH").val()
			+ "&hours=" + hours
			+ "&rainfall=" + $("#rainfall").val()
			+ "&HKO_temp=" + $("#HKO_temp").val()
			+ "&HKO_hum=" + $("#HKO_hum").val();
			//Go to new URL
			window.location.href = URL;
		}
	}

	//Ensure that Sunday must be Public Holiday
	function checkSunday(){
		if ($("#dayOfWk").val() == "0"){
			$("#PH").val("1");
		}
	}

</script>

<div class="panel panel-default">
	<div class="panel-heading"><b>Trams: Predict Travelling Time</b></div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<div class="row">

					<%# From %>
					<label class="control-label col-sm-3 col-lg-2" for="from">From:</label>
					<div class="col-sm-9 col-lg-4">
						<select class="form-control" id="from" onChange = "options_to()">
						</select>
					</div>

					<%# To %>
					<label class="control-label col-sm-3 col-lg-2" for="to">To:</label>
					<div class="col-sm-9 col-lg-4">
						<select class="form-control" id="to" onChange = "options_multi()">
						</select>
					</div>

					<%# Multi %>
					<label class="control-label col-sm-3 col-lg-2" for="multi">Type of Prediction:</label>
					<div class="col-sm-9 col-lg-4">
						<select class="form-control" id="multi">
						</select>
					</div>

				</div>
				<div class="row">

					<%# dayOfWk %>
					<label class="control-label col-sm-3 col-lg-2" for="dayOfWk">Day of Week:</label>
					<div class="col-sm-9 col-lg-4">
						<select class="form-control" id="dayOfWk" onChange="checkSunday()">
							<option value="">-- Please select --</option>
							<option value = "1"<%= q("dayOfWk","1") %>>Monday</option>
							<option value = "2"<%= q("dayOfWk","2") %>>Tuesday</option>
							<option value = "3"<%= q("dayOfWk","3") %>>Wednesday</option>
							<option value = "4"<%= q("dayOfWk","4") %>>Thursday</option>
							<option value = "5"<%= q("dayOfWk","5") %>>Friday</option>
							<option value = "6"<%= q("dayOfWk","6") %>>Saturday</option>
							<option value = "0"<%= q("dayOfWk","0") %>>Sunday</option>
						</select>
					</div>

					<%# PH %>
					<label class="control-label col-sm-3 col-lg-2" for="PH">Public Holiday?</label>
					<div class="col-sm-9 col-lg-4">
						<select class="form-control" id="PH" onChange="checkSunday()">
							<option value="">-- Please select --</option>
							<option value = "0"<%= q("PH","0") %>>No</option>
							<option value = "1"<%= q("PH","1") %>>Yes</option>
						</select>
					</div>

					<%# hours %>
					<label class="control-label col-sm-3 col-lg-2" for="hours">Start Time (Hours):</label>
					<div class="col-sm-9 col-lg-4">
						<input class="form-control" type="text" id="hours" placeholder="hours or hh:mm:ss" value="<%= s('hours') %>">
					</div>

					<%# rainfall %>
					<label class="control-label col-sm-3 col-lg-2" for="rainfall">Rainfall (mm):</label>
					<div class="col-sm-9 col-lg-4">
						<input class="form-control" type="text" id="rainfall" placeholder="in mm" value="<%= s('rainfall') %>">
					</div>

					<%# HKO_temp %>
					<label class="control-label col-sm-3 col-lg-2" for="HKO_temp">HKO Temperature (℃):</label>
					<div class="col-sm-9 col-lg-4">
						<input class="form-control" type="text" id="HKO_temp" placeholder="in ℃" value="<%= s('HKO_temp') %>">
					</div>

					<%# HKO_hum %>
					<label class="control-label col-sm-3 col-lg-2" for="HKO_hum">HKO Humidity (%):</label>
					<div class="col-sm-9 col-lg-4">
						<input class="form-control" type="text" id="HKO_hum" placeholder="in %" value="<%= s('HKO_hum') %>">
					</div>
					
					<div class="control-label col-sm-12 col-lg-12">All fields are mandatory.</div>

				</div>
				<div class="row">
					<br/>
					<button type="button" class="btn-block btn-default" onclick="querybox_submit();">Predict</button>
				</div>
			</div>
		</form>
	</div>
</div>