<%- include('header'); %>

	<%# Search Box --------------------------------------------------------------------- %>

	<%
	function section(compare){
		if (typeof params === "undefined"){
			return "";
		}else{
			return (params.stopA+"/"+params.stopB == compare) ? " selected" : "";
		}
	}
	function DOW(compare){
		if (typeof query === "undefined"){
			return "";
		}else{
			return (query.dow + "" == compare + "") ? " selected" : "";
		}
	}
	function PH(compare){
		if (typeof query === "undefined"){
			return "";
		}else{
			return (query.ph + "" == compare + "") ? " selected" : "";
		}
	}
	function q($q){
		if (typeof query === "undefined"){
			return "";
		}else if (typeof query[$q] === "undefined"){
			return "";
		}else{
			return query[$q];
		}
	}
	%>
	<div class="panel panel-default">
		<div class="panel-heading"><b><%= title %></b></div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<div class="row">
						<%# Section %>
						<label class="control-label col-sm-3 col-lg-4" for="section">Select section:</label>
						<div class="col-sm-9 col-lg-8">
							<select class="form-control" id="section">
								<option value="">-- Please select --</option>
								<% for (var i in searchbox.sections){ %>
								<option value = "<%= searchbox.sections[i].from_to %>"<%= section(searchbox.sections[i].from_to) %>><%= searchbox.sections[i].caption %></option>
								<% } %>
							</select>
						</div>
						<div class="col-sm-12 col-lg-12" style="padding-top: 0.5em; padding-bottom: 0.5em;">
							For the following input factors, keep blank if the current factors are used.
						</div>
						<%# D.O.W. %>
						<label class="control-label col-sm-3 col-lg-2" for="dow">Day of Week:</label>
						<div class="col-sm-9 col-lg-4">
							<select class="form-control" id="dow" onchange="dow_changed();">
								<option value="">[Today]</option>
								<option value = "0"<%= DOW(0) %>>Sunday</option>
								<option value = "1"<%= DOW(1) %>>Monday</option>
								<option value = "2"<%= DOW(2) %>>Tuesday</option>
								<option value = "3"<%= DOW(3) %>>Wednesday</option>
								<option value = "4"<%= DOW(4) %>>Thursday</option>
								<option value = "5"<%= DOW(5) %>>Friday</option>
								<option value = "6"<%= DOW(6) %>>Saturday</option>
							</select>
						</div>
						<%# P.H. %>
						<label class="control-label col-sm-3 col-lg-2" for="ph">Public Holiday?</label>
						<div class="col-sm-9 col-lg-4">
							<select class="form-control" id="ph" onchange="dow_changed();">
								<option value="">[Today]</option>
								<option value = "1"<%= PH(1) %>>Yes</option>
								<option value = "0"<%= PH(0) %>>No</option>
							</select>
						</div>
						<%# Filter: Hours %>
						<label class="control-label col-sm-3 col-lg-2" for="time">Time: <small>(hours / hh:mm:ss)</small></label>
						<div class="col-sm-9 col-lg-4">
								<input type="text" class="form-control" id="time" placeholder="[Current Time]" value="<%= q('time') %>">
						</div>
						<%# Filter: Rainfall %>
						<label class="control-label col-sm-3 col-lg-2" for="rainfall">Rainfall (mm):</label>
						<div class="col-sm-9 col-lg-4">
								<input type="text" class="form-control" id="rainfall" placeholder="[Current Rainfall]" value="<%= q('rainfall') %>">
						</div>
						<%# Filter: HKO Temp %>
						<label class="control-label col-sm-3 col-lg-2" for="HKO_temp">HKO Temperature (℃):</label>
						<div class="col-sm-9 col-lg-4">
								<input type="text" class="form-control" id="HKO_temp" placeholder="[Current Temperature]" value="<%= q('hkotemp') %>">
						</div>
						<%# Filter: HKO Humidity %>
						<label class="control-label col-sm-3 col-lg-2" for="HKO_hum">HKO Humidity (%):</label>
						<div class="col-sm-9 col-lg-4">
								<input type="text" class="form-control" id="HKO_hum" placeholder="[Current Humidity]" value="<%= q('hkohum') %>">
						</div>
					</div>
					<div class="row">
						<br/>
						<button type="button" class="btn-block btn-default" onclick="searchbox_submit();">Predict</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script language = "javascript">
		//DOW Changed (Sunday must be public holiday)
		function dow_changed(){
			if ($("#dow").val() == "0"){
				$("#ph").val("1");
			}
		}

		//Submit
		function searchbox_submit(){
			if ($("#section").val() != ""){
				//Valid
				var URL = "/trams/predict_sect/" + $("#section").val();
				//Input Factors
				var params = [];
				if ($("#dow").val() != "") params.push("dow=" + encodeURI($("#dow").val()));
				if ($("#ph").val() != "") params.push("ph=" + encodeURI($("#ph").val()));
				if ($("#time").val() != "") params.push("time=" + encodeURI($("#time").val()));
				if ($("#rainfall").val() != "") params.push("rainfall=" + encodeURI($("#rainfall").val()));
				if ($("#HKO_temp").val() != "") params.push("hkotemp=" + encodeURI($("#HKO_temp").val()));
				if ($("#HKO_hum").val() != "") params.push("hkohum=" + encodeURI($("#HKO_hum").val()));
				//Appand to URL
				if (params.length){
					URL += "?" + params.join("&");
				}
				//Go to new URL
				window.location.href = URL;
			}
		}
	</script>
	
	<%# Search Box Ends --------------------------------------------------------------------- %>

	<% if (typeof params != "undefined"){ %>

		<% for (i in models_n_modes){ var myModel = models_n_modes[i].id; %>

		<h3 id="<%= myModel %>"><%= models_n_modes[i].name %> <small>(<%= myModel %>)</small></h3>
		<p><%= models_n_modes[i].description %></p>

		<div class="panel panel-default">
			<div class="panel-body">

			<% for (j in models_n_modes[i].modes){ var myMode = models_n_modes[i].modes[j].id; %>

			<h4 id="<%= myModel+"_"+myMode %>"><%= models_n_modes[i].modes[j].name %> <small>(<%= myMode %>)</small></h4>

				<% if (result[myModel][myMode].mins2 == ""){ %>
					
				<p>Sorry, no prediction results.</p>

				<% }else{ %>

				<p><%= models_n_modes[i].modes[j].description %></p>
				
				<div class="well"><strong>
					Predicted travelling time: <span style="font-size: 1.5em;"><%= result[myModel][myMode].mins2 %> mins</span>
					<br/><small>(Begins at: <%= result[myModel][myMode].start_time %>; Ends at: <%= result[myModel][myMode].end_time %>)</small>
				</strong></div>

				<% } %>

			<% } %>

			</div>
		</div>

		<% } %>
	
	<% } %>

<%- include('footer'); %>